body {
  text-align: center;
  /* background-image: linear-gradient(to bottom, #ff0000, #00ff00, #ff0000);*/
  background-color: #2a9d2a;
}

#titol-nivell {
  font-family: 'M PLUS Code Latin', cursive;
  font-size: 4rem;
  margin:  5%;
  color: #ffecec;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
  object-fit: cover;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid #e61212;
  border-radius: 20%;
}

.gameOver {
  background-color: rgb(61, 8, 8);
  opacity: 0.8;
}

/*
.gradientBackground {
  background: linear-gradient(300deg, #1b6110,#2bc347, #e61212, #2bc347);
  background-size: 150% 180%;
  animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 80% 70%;
  }
  100% {
    background-position: 0% 50%;
  }
}
*/

.row{
  object-fit: cover;
}

.cervol {
  background-image: url('./img/cervol.jpg');
}

.santa {
  background-image: url('./img/santa.jpg');
}

.galetes {
  background-image: url('./img/galetes.jpg');
}

.arbre {
  background-image: url('./img/arbre.jpg');
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
