body {
  text-align: center;
  background-color: #f5e610;
}

#titol-nivell {
  font-family: 'M PLUS Code Latin', cursive;
  font-size: 5rem;
  margin:  5%;
  color: #3923ff;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid #3923ff;;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: rgb(242, 0, 255);
}

.green {
  background-color: rgb(18, 224, 18);
}

.blue {
  background-color: rgb(0, 255, 234);
}

.yellow {
  background-color: rgb(255, 145, 0);
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
